.root {
    -fx-background-color: #de7a39;
}
.text-field {
    -fx-border-color: black;
}
#text {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
#title {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 22;
    -fx-font-weight: bold;
}
#subTitle {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
#circle .decoration {
    -fx-stroke: #000000;
}
#button {
    -fx-background-radius: 4em;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-background-color: rgba(171, 225, 144, 0.87);
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-font-size: 13;
    -fx-pref-height: 40;
    -fx-pref-width: 130;
}
#buttonNormal {
    -fx-background-radius: 4em;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-background-color: rgba(171, 225, 144, 0.87);
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-font-size: 13;
}
#buttonBack {
    -fx-background-color: transparent;
    -fx-background-image: url('../images/back.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: transparent;
    -fx-pref-height: 40;
    -fx-pref-width: 40;
    -fx-cursor: hand;
}
#paneImage {
    -fx-background-color: #f8b8a8;
}
#fondoTabla .table-row-cell, .table-view {
    -fx-background-color: #cce6f6;
}
